body { 
    font-family: sans-serif; 
    background: #eee;
}

a, h1, h2 { 
    color: #377ba8; 
}

h1, h2 { 
    font-family: 'Georgia', serif; 
    margin: 0; 
}

h1 { 
    border-bottom: 2px solid #eee; 
}

h2 { 
    font-size: 1em; 
}

h3 {
    font-size: 0.8em;
    font-family: 'Georgia', serif;
    color: green;
}

.page { 
    margin: 2em auto; 
    width: 35em; 
    border: 5px solid #ccc;
    padding: 0.8em; 
    background: white; 
}

.posts { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.posts li { 
    margin: 0.8em 1.2em; 
    list-style: none; 
}

.posts li h2 { 
    margin-left: -1em; 
}

.posts li h5 {
    margin-left: 70%;
}

.add-entry { 
    font-size: 0.9em; 
    border-bottom: 1px solid #ccc; 
}

.add-entry dl { 
    font-weight: bold; 
}

.metanav { 
    text-align: right; 
    font-size: 0.8em; 
    padding: 0.3em;
    margin-bottom: 1em; 
    background: #fafafa; 
}

#login {
    text-align: left;
}

.flash { 
    background: #cee5F5; 
    padding: 0.5em;
    border: 1px solid #aacbe2; 
}

.error { 
    background: #f0d6d6; 
    padding: 0.5em; 
}

.user_block {
    border-top: 1px solid;
    padding: 10px 0px;
    clear: both;
}

.main_panel {
    border-right: 1px solid #D9E1E7;
    width: 447px;
    padding: 5px 15px 6px 15px;
}

td, th {
    display: table-row;
    vertical-align: inherit;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

#page_body {
    font-size: 11px;
    width: 631px;
    padding: 0px 15px 0px 0px;
}

body {
    background:  #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
    direction: ltr;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    line-height: 1.182;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased
}

#flat_button {
    padding: 6px 16px 7px 16px;
    margin: 0;
    margin-left: 70%;
    font-size: 11px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    vertical-align: top;
    overflow: visible;
    line-height: 13px;
    text-decoration: none;
    background: none;
    background-color: #6383a8;
    color: #FFF;
    border: 0;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background-color 100ms ease-in-out;
    -khtml-transition: background-color 100ms ease-in-out;
    -moz-transition: background-color 100ms ease-in-out;
    -ms-transition: background-color 100ms ease-in-out;
    -o-transition: background-color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;
}