{% extends "layout.html" %}
{% block body %}
    {% for friend in friend_list['items'] %}
      <td class="main_panel"> 
        <div id="users_list">
          <div>
            <div class="user_block">
              <table>
                <tr valign="center">
                  <td><a href="{{ url_for('posts', userid=friend['userid']) }}">{{ friend['username'] }}</a>
                  <!-- <h2>{{ friend['username'] }}</h2> --> </td>
                  <td><h2>{{ friend['email'] }}</h2> </td>
                  <td><h2>{{ friend['phone'] }}</h2> </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </td>
    {% endfor %}
    </tr>

    {% if friend_list.page > 1 %}
    <a href="{{ url_for('friends', page=friend_list.page-1)}}">&lt;&lt; prev</a>
    {% else %}&lt;&lt; prev{% endif %} |
    {% if friend_list.page < friend_list.pages %}
    <a href="{{ url_for('friends', page=friend_list.page+1) }}"> next &gt;&gt;</a>
    {% else %} next &gt;&gt;{% endif %}

    </tbody>
{% endblock %}