{% extends "layout.html" %}
{% block body %}
    {% for friend in friend_list %}
      <td class="main_panel"> 
        <div id="users_list">
          <div>
            <div class="user_block">
              <table>
                <tr valign="center">
                  <td><h2>{{ friend['username'] }}</h2> </td>
                  <td><h2>{{ friend['email'] }}</h2> </td>
                  <td><h2>{{ friend['phone'] }}</h2> </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </td>
    {% endfor %}
    </tr>
    </tbody>
{% endblock %}