<!doctype html>
<title>IdeaKeep</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>IdeaKeep</h1>
  <div class=metanav>
  {% if not access %}
    <a href="{{ url_for('login') }}">log in</a>
    <a href="{{ url_for('signup') }}">sign up</a>
  {% else %}
    <a href="{{ url_for('posts') }}">mypage</a>
    <a href="{{ url_for('users') }}">users</a>
    <a href="{{ url_for('friends') }}">friends</a>
    <a href="{{ url_for('logout') }}">log out</a>
    <table>
      <tr valign="top">
        {% if status.user_status_code %}
          <td><h2>{{ user[0]['username'] }}</h2> </td>
        {% else %}
          <h4>this server is unavailable</h4>
        {% endif %}
      </tr>
    </table>
  </div>

    {% block body %}
    {% endblock %}

  {% endif %}
  
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

</div>