{% extends "layout.html" %}
{% block body %}

{% if status.post_status_code %}
    <form action="{{ url_for('all')}}" method=get class=posts>
      <dl>
        <dd><input type=submit value=All>
      </dl>
    </form>
    {% if status.permission_add_post_code %}
    <form action="{{ url_for('addposts') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    {% endif %}

    <ul class=posts>

    {% for entry in posts['items'] %}
      <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }} 
      <h5>{{ entry.dateAdd }}</h5>

      <form action="{{ url_for('addcomments', postid=entry.postid) }}" method=post class=add-entry>
        <dl>
          <dt>Comment:
          <dd><textarea name=text rows=1 cols=40></textarea>
          <dd><input type=submit value=Share>
        </dl>
      </form>

    {% else %}
      <li><em>Unbelievable.  No posts here so far</em>
    {% endfor %}
    </ul>
    
    {% if posts.page > 1 %}
    <a href="{{ url_for('posts', page=posts.page-1, userid=posts['items'][0].userid )}}">&lt;&lt; prev</a>
    {% else %}&lt;&lt; prev{% endif %} |
    {% if posts.page < posts.pages %}
    <a href="{{ url_for('posts', page=posts.page+1, userid=posts['items'][0].userid ) }}"> next &gt;&gt;</a>
    {% else %} next &gt;&gt;{% endif %}

{% else %}
  <h4>this server is unavailable</h4>

{% endif %}

{% endblock %}