{% extends "layout.html" %}
{% block body %}

<tbody>
{% if status.users_status_code %}

    <tr>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% for user in user_list['items'] %}
      <td class="main_panel"> 
        <div id="users_list">
          <div>
            <div class="user_block">
              <a href="{{ url_for('posts', userid=user['userid']) }}">{{ user.user }}</a>
              <form method=post action="{{ url_for('friends', userid=user['userid']) }}">
                <input id="flat_button" type=submit value="Подписаться"/>

                <!-- <input type="hidden" name="userid" value="{{ user['userid'] }}"> -->
              <!--<input id="flat_button" type="button" onclick="location.href='http://localhost:80';" value="Добавить в друзья" /> -->
              </form>
            </div>
          </div>
        </div>

      </td>
    {% endfor %}
    </tr>

    {% if user_list.page > 1 %}
    <a href="{{ url_for('users', page=user_list.page-1)}}">&lt;&lt; prev</a>
    {% else %}&lt;&lt; prev{% endif %} |
    {% if user_list.page < user_list.pages %}
    <a href="{{ url_for('users', page=user_list.page+1) }}"> next &gt;&gt;</a>
    {% else %} next &gt;&gt;{% endif %}

{% else %}
    <h4>this server is unavailable</h4>

{% endif %}
</tbody>

{% endblock %}